.header-part{
    text-align: center;
    background-color: aquamarine;
    padding: 1%;
    border: 1px solid rgb(67, 151, 99);
    
}

h1{
    display: inline-block;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}
.log-out{
    display: inline-block;
    position: relative;
    left: 420px;
}

.middle-part{
    position: relative;
    left: 300px;
    top: 100px;
}

.form{
    position: relative;
    left: 50px;
}

.btn-div{
    position: relative;
    top: 30px;
    left: 215px;
}

.btn-cancel{
    position: relative;
    left: 300px;
}
.back{
    margin: 30px 0 0 20px;
 }

 .result{
     position: relative;
     left: 300px;
 }

 .result-container{
     margin: 5px 0 0 257px;
 }
.dob{
    position: relative;
    right: 40px;
}
.score{
    position: relative;
    left: 4px;
}
.roll{
    position: relative;
    right: 4.5px;
}

.Red{
    border: 1px solid red;
    text-align: center;
    color: red;
    margin: 200px 100px 200px 100px;
    padding: 20px;
}