<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page 1</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="sv1.css">
    <script src="/js/clear_form.js"></script>
</head>
<body>

    <div>
        <div class="header-part">
            <h1 style="font-size:larger; font-family: Arial, Helvetica, sans-serif; font-weight: bolder;">
              Result Management System</h1>
              <div class="log-out">
                <a href="/home" class="btn btn-outline-primary btn-sm" role="button">Logout</a>
              </div>
          </div>
    </div>

    <div class="middle-part">
       <div class="title"><p>Find Result</p></div>
       <div class="form">
           <form action="/find" method="post">
            <div class="form-group row">
                <label for="inputRoll" class="col-sm-2 col-form-label">Roll Number</label>
                <div class="col-sm-4 in">
                  <input type="number" class="form-control" id="inputRoll" placeholder="RollNumber" name="id">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputRoll" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-4 in">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                </div>
              </div>
            </div>
            <div class="btn-div btn-group-sm">
                <button class="btn-submit btn btn-primary" type="submit" name="search">Search</button>
                </div>
                <div class="btn-cancel btn-group-sm">
                    <button class="btn-submit btn btn-primary" type="button" onclick="clearForm()">Clear</button>
                </div>
           </form>
        </div>
    </div>

    
    
</body>
</html>

